Xcursor.theme: Deepin-Dark
Xcursor.size:  24

URxvt*termName:       rxvt-256color
URxvt*font:           xft:Source Code Pro:pixelsize=14,xft:Inconsolata\ for\ Powerline:pixelsize=12
URxvt.depth:          0
URxvt*lineSpace:      1
URxvt.iso14755:       false
URxvt.iso14755_52:    false
URxvt.scrollBar:      false
URxvt.internalBorder: 18

!!!!!!!!!
! Colors
!!!!!!!!!

URxvt*foreground:  #eff0eb
!URxvt*background: #1f2326
URxvt*background:  #1b1e21
URxvt*cursorColor: #97979b

! Black + DarkGrey
URxvt*color0: #282a36
URxvt*color8: #686868

! DarkRed + Red
URxvt*color1: #ff5c57
URxvt*color9: #ff5c57

! DarkGreen + Green
URxvt*color2:  #5af78e
URxvt*color10: #5af78e

! DarkYellow + Yellow
URxvt*color3:  #f3f99d
URxvt*color11: #f3f99d

! DarkBlue + Blue
URxvt*color4:  #57c7ff
URxvt*color12: #57c7ff

! DarkMagenta + Magenta
URxvt*color5:  #ff6ac1
URxvt*color13: #ff6ac1

! DarkCyan + Cyan (both not tango)
URxvt*color6:  #9aedfe
URxvt*color14: #9aedfe

! LightGrey + White
URxvt*color7:  #eff0eb
URxvt*color15: #f1f1f0

! Bold, Italic, Underline
!*.colorBD:
!*.colorIT:
!*.colorUL:
