Xcursor.theme: Deepin-Dark
Xcursor.size:  24

URxvt*termName:       rxvt-256color
URxvt*font:           xft:Source Code Pro:pixelsize=14,xft:Inconsolata\ for\ Powerline:pixelsize=12
URxvt.depth:          0
URxvt*lineSpace:      1
URxvt.iso14755:       false
URxvt.iso14755_52:    false
URxvt.scrollBar:      false
URxvt.internalBorder: 18



!!!!!!!!!
! Colors
!!!!!!!!!

URxvt*foreground:  #c5c8c6
URxvt*background:  #1d1f21
URxvt*cursorColor: #dddddd

! Black + DarkGrey
URxvt*color0: #1c1c1e
URxvt*color8: #666666

! DarkRed + Red
URxvt*color1: #cc6666
URxvt*color9: #d54e53

! DarkGreen + Green
URxvt*color2:  #b5bd68
URxvt*color10: #b9ca4a

! DarkYellow + Yellow
URxvt*color3:  #f0c674
URxvt*color11: #e7c547

! DarkBlue + Blue
URxvt*color4:  #81a2be
URxvt*color12: #7aa6da

! DarkMagenta + Magenta
URxvt*color5:  #b294bb
URxvt*color13: #c397d8

! DarkCyan + Cyan (both not tango)
URxvt*color6:  #8abeb7
URxvt*color14: #70c0b1

! LightGrey + White
URxvt*color7:  #c5c8c6
URxvt*color15: #eaeaea

! Bold, Italic, Underline
!*.colorBD:
!*.colorIT:
!*.colorUL:
